In [83]:
import pandas as pd

df = pd.read_csv('case_9.csv', header=None, keep_default_na=False, dtype=str).T
df.columns = ['operation', 'input', 'output', 'expected']

In [84]:
df = df[['operation', 'input', 'output', 'expected']].astype(str)

In [85]:
df.head()

        operation                      input output expected
0  WordDictionary                         []   null     null
1         addWord                   ["xgvk"]   null     null
2         addWord  ["wykzbvwdsoyfowqicymzd"]   null     null
3         addWord      ["xajbtjyjuwgoynjgu"]   null     null
4          search  ["wykzbvwdso..owqicymzd"]   true     true

In [92]:
df.loc[~(df['output'] == df['expected'])]

     operation    input output expected
62      search   [".."]  false     true
91      search    ["."]  false     true
164     search   [".."]  false     true
243     search  ["..z"]  false     true
402     search   [".."]  false     true
...        ...      ...    ...      ...
3765    search  ["..l"]  false     true
3773    search   ["i."]  false     true
3791    search  [".da"]  false     true
3824    search  ["..i"]  false     true
3834    search   [".."]  false     true

[116 rows x 4 columns]